<p id="notice"><%= notice %></p>

<h1>Listing Substitution Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @substitution_types.each do |substitution_type| %>
      <tr>
        <td><%= substitution_type.name %></td>
        <td><%= link_to 'Show', substitution_type %></td>
        <td><%= link_to 'Edit', edit_substitution_type_path(substitution_type) %></td>
        <td><%= link_to 'Destroy', substitution_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Substitution type', new_substitution_type_path %>
